<h5>{{ title }}</h5>
<md-list>
    <md-item ng-repeat="channel in channels">
        <md-item-content ng-show="$index < channelListCtrl.showCount">
            <md-button ng-click="switchChannel(channel.name)" class="text-left" flex>
                {{ channel.name }}
            </md-button>
        </md-item-content>
    </md-item>
    <md-item ng-show="channels.length > channelListCtrl.showCount">
        <md-button class="text-left" flex ng-click="channelListCtrl.showMore()">
            Show more...
        </md-button>
    </md-item>
</md-list>