<md-sidenav 
    class="md-sidenav-left md-whiteframe-z2" 
    md-is-locked-open="$mdMedia('gt-md')"
    flex>
    <md-toolbar class="md-accent">
        <h6 class="md-toolbar-tools">Contacts</h6>
        <md-button ng-click="close()" class="md-primary" hide-gt-md>
            <
        </md-button>
    </md-toolbar>
    <md-content class="md-padding">
        <div ng-show="contactCtrl.loading">
            <h3>Loading...</h3>
            <md-progress-linear md-mode="indeterminate"></md-progress-linear>
        </div>
        <div ng-show="!contactCtrl.loading">
            <channel-list title="Chats" channels="contactCtrl.chats"></channel-list>
            <md-divider></md-divider>
            <channel-list title="Boards" channels="contactCtrl.boards"></channel-list>
            <md-divider></md-divider>
            <channel-list title="Users" channels="contactCtrl.users"></channel-list>
            <md-divider></md-divider>
            <channel-list title="Teams" channels="contactCtrl.teams"></channel-list>
        </div>
    </md-content>
</md-sidenav>